#root {
  max-width: 1280px;
  margin: 0 auto;

  --padding: 2rem;
  padding: var(--padding);
  padding-bottom: 6rem;
  text-align: center;
  height: calc(100vh - 2 * var(--padding));
}

.login-page {
  margin-top: 15vh;
}

.title {
  margin-bottom: 10vh;
}

.tasks {
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  width: fit-content;
}

.task {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
}

.task:nth-child(even) {
  background-color: #f9f9f9;
}

.task:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.task-progress {
  width: 3em;
  min-width: max-content;
}

.task-title {
  flex: 1;
  text-align: left;
}

.task-completed .task-title {
  color: #bbb;
  text-decoration: line-through;
}

.remember-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.login-button {
  background-color: white;
}

.login-form {
  background-color: #f9f9f9;
  width: fit-content;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1em;

  max-width: 15em;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.description {
  font-size: 0.85em;
  line-height: 1;
  color: #444;
  margin-top: -4px;
  margin-bottom: 5px;
}

button {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}


.error {
  background-color: #FED7D7;
  padding: 10px;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border: 3px solid #E53E3E;

  width: fit-content;
}

.error-title {
  font-weight: bold;
  color: #C53030;
}

.error-message {
  max-width: 20em;
  padding: 10px;
}

.feedback-button {
  display: block;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: normal;
  color: #888;
  text-decoration: underline;
  width: fit-content;
}


.info {
  max-width: 20em;
  margin: 0 auto;
  margin-bottom: 15px;
}

.explanations {
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 0.25rem 3rem;

  width: fit-content;
  text-align: left;
}

.explanations h2 {
  text-align: center;
}

.explanations h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.explanations p {
  margin: 0;
}